<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .Nav {
            display: flex;
            background-color: #ffb800;
            height: 50px;
            align-items: center; /* 요소를 수직 중앙 정렬 */
        }

        .Menu {
            font-size: 150%;
        }

        .Logo {
            font-size: 200%;
        }

        a {
            color: inherit; /* 링크 색상을 부모 요소의 색으로 상속 */
            text-decoration: none; /* 밑줄 제거 */
        }

    </style>
</head>
<body>
<div th:fragment="NavigationBar" class="Nav">
    <p class="Logo" style="margin-left: 1%">Hang Out</p>
    <p class="Menu" style="margin-left: 2%">OneDayCalss</p>
    <p class="Menu" style="margin-left: 2%">SmallGruop</p>
    <a class="Menu" style="margin-left: 2%" th:href="@{/HangOut/Review}">Review</a>
    <p class="Menu" style="margin-left: 58%">Login</p>
    <p class="Menu" style="margin-left: 1%">Register</p>
</div>
</body>
</html>